.note {
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: #eeeeee;
	border-bottom: solid 1px #e0e0e0;
}

.note:last-child {
	border: none;
}

.note .input-field {
	padding: 10px;
	background: none;
	font-size: 16px;
	color: #424242;
	font-weight: bold;
	border: none;
	transition: background-color 0.4s;
	border-radius: 4px;
	outline: none;
}

.note .input-field:focus {
	background-color: white !important;
}

.note .checkbox {
	height: 20px;
	width: 20px;
	margin-left: auto;
}
